<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="11"
	android:versionName="1.0.11"
	package="ch.werz.projekt2"
	>
	<uses-sdk
		android:minSdkVersion="4"
		android:targetSdkVersion="15"
		>
	</uses-sdk>
	<application
		android:theme="@7F070000"
		android:label="@7F040001"
		android:icon="@7F020027"
		>
		<activity
			android:label="@7F040001"
			android:name="ch.werz.projekt2.PhysikkartenActivity"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:name=".FrageActivity"
			>
		</activity>
		<activity
			android:name="AntwortActivity"
			>
		</activity>
		<activity
			android:name="com.google.ads.AdActivity"
			android:configChanges="0x00000FB0"
			>
		</activity>
		<activity
			android:name="EinstellungsActivity"
			>
		</activity>
	</application>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
</manifest>
