<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="5"
	android:versionName="1.0.4"
	android:installLocation="1"
	package="basket.com.screen.unlock.mt"
	>
	<uses-sdk
		android:minSdkVersion="8"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.DISABLE_KEYGUARD"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_LOGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
		>
	</uses-permission>
	<supports-screens
		android:anyDensity="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		>
	</supports-screens>
	<application
		android:theme="@android:01030006"
		android:label="@7F080001"
		android:icon="@7F020010"
		android:name="com.screen.unlock.mt.core.UnlockerApplication"
		android:debuggable="true"
		android:screenOrientation="1"
		>
		<activity
			android:label="@7F080001"
			android:name="com.screen.unlock.mt.ScreenUnlockActivity"
			android:screenOrientation="1"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:name="com.screen.unlock.mt.IphoneScreenUnlockActivity"
			android:launchMode="3"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.screen.unlock.mt.UnlockActivity"
			android:launchMode="3"
			android:screenOrientation="1"
			>
		</activity>
		<receiver
			android:name="com.screen.unlock.mt.receiver.ScreenOnReceiver"
			android:priority="2147483647"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.USER_PRESENT"
					>
				</action>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"
					>
				</action>
				<action
					android:name="android.intent.action.DATE_CHANGED"
					>
				</action>
			</intent-filter>
		</receiver>
		<service
			android:name="com.screen.unlock.mt.service.ScreenLockService"
			>
		</service>
		<service
			android:name="com.screen.unlock.mt.service.ScreenLockStateListenerService"
			>
		</service>
		<service
			android:name="com.screen.unlock.mt.service.UnlockSoundPlayService"
			>
		</service>
		<activity
			android:theme="@7F090000"
			android:name="com.screen.unlock.mt.SettingActivity"
			android:screenOrientation="1"
			android:configChanges="0x000000A0"
			>
		</activity>
		<activity
			android:name="com.screen.unlock.mt.ChooseWallpaperActivity"
			android:screenOrientation="1"
			android:configChanges="0x000000A0"
			>
		</activity>
		<activity
			android:name="com.screen.unlock.mt.ApplyWallpaperActivity"
			android:screenOrientation="1"
			android:configChanges="0x000000A0"
			>
		</activity>
		<activity
			android:name="com.screen.unlock.mt.cropimage.CropImage"
			android:screenOrientation="1"
			android:configChanges="0x000000A0"
			>
		</activity>
		<receiver
			android:name="com.screen.unlock.mt.ScreenLock"
			android:permission="android.permission.BIND_DEVICE_ADMIN"
			>
			<meta-data
				android:name="android.app.device_admin"
				android:resource="@7F040000"
				>
			</meta-data>
			<intent-filter
				>
				<action
					android:name="android.app.action.DEVICE_ADMIN_ENABLED"
					>
				</action>
			</intent-filter>
		</receiver>
		<activity
			android:theme="@android:01030011"
			android:name="com.screen.unlock.mt.ScreenLock$Controller"
			android:launchMode="3"
			android:screenOrientation="1"
			android:configChanges="0x000000A0"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<provider
			android:name="com.screen.unlock.mt.db.ScreenLockerProvider"
			android:authorities="basket.com.screen.unlock.mt"
			>
		</provider>
		<activity
			android:theme="@android:01030009"
			android:name="mt.com.ads.main.TopAppsActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:theme="@android:01030009"
			android:name="security.pro.main.UpdatePwdActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:theme="@android:01030009"
			android:name="security.pro.main.ClosePwdActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:theme="@android:01030009"
			android:name="security.pro.main.PwdSetActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:theme="@android:01030009"
			android:name="security.pro.main.QuestionSetActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:theme="@android:01030009"
			android:name="security.pro.main.InputPwdActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.google.ads.AdActivity"
			android:configChanges="0x00000FB0"
			>
		</activity>
		<meta-data
			android:name="UMENG_APPKEY"
			android:value="501c9c6852701555fe000001"
			>
		</meta-data>
		<meta-data
			android:name="UMENG_CHANNEL"
			android:value="Channel ID"
			>
		</meta-data>
		<service
			android:name="com.umeng.common.net.DownloadingService"
			android:exported="true"
			android:process=":DownloadingService"
			>
		</service>
	</application>
</manifest>
