<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="35"
	android:versionName="2.1.4"
	android:installLocation="0"
	package="app.dzieciowomi.pregcal"
	>
	<uses-sdk
		android:minSdkVersion="4"
		android:targetSdkVersion="11"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<supports-screens
		android:compatibleWidthLimitDp="320"
		>
	</supports-screens>
	<application
		android:label="@7F050000"
		android:icon="@7F02003A"
		android:hardwareAccelerated="true"
		>
		<activity
			android:label="@7F050000"
			android:name=".PregnancyCalendar"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:name=".PCGeneralView"
			>
		</activity>
		<activity
			android:name=".PCDetailedView"
			>
		</activity>
		<activity
			android:name=".PCSettingsView"
			>
		</activity>
		<activity
			android:name=".PCPassedWeeksView"
			>
		</activity>
		<activity
			android:name=".PCPassedWeeksList"
			>
		</activity>
		<activity
			android:name=".PCNotes"
			>
		</activity>
		<activity
			android:name=".PCNoteEdit"
			>
		</activity>
		<activity
			android:name=".PCNoteAdd"
			>
		</activity>
		<activity
			android:name=".PCNotesWeeksList"
			>
		</activity>
		<activity
			android:name=".PCNotesView"
			>
		</activity>
		<receiver
			android:label="@7F050036"
			android:name=".PCWidget"
			>
			<intent-filter
				>
				<action
					android:name="android.appwidget.action.APPWIDGET_UPDATE"
					>
				</action>
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@7F040001"
				>
			</meta-data>
		</receiver>
		<receiver
			android:label="@7F050035"
			android:name=".PCWidgetBlue"
			>
			<intent-filter
				>
				<action
					android:name="android.appwidget.action.APPWIDGET_UPDATE"
					>
				</action>
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@7F040000"
				>
			</meta-data>
		</receiver>
		<activity
			android:name=".PCWidgetConfigure"
			>
			<intent-filter
				>
				<action
					android:name="android.appwidget.action.APPWIDGET_CONFIGURE"
					>
				</action>
			</intent-filter>
		</activity>
		<activity
			android:name=".PCWidgetBlueConfigure"
			>
			<intent-filter
				>
				<action
					android:name="android.appwidget.action.APPWIDGET_CONFIGURE"
					>
				</action>
			</intent-filter>
		</activity>
		<activity
			android:name="com.google.ads.AdActivity"
			android:configChanges="0x00000FB0"
			>
		</activity>
	</application>
</manifest>
