<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1000001"
	android:versionName="@7F040001"
	android:installLocation="0"
	package="air.com.aboutweb.riacon"
	>
	<application
		android:label="@7F040000"
		android:icon="@7F020000"
		android:hardwareAccelerated="true"
		>
		<activity
			android:theme="@7F050000"
			android:label="@7F040000"
			android:name=".AppEntry"
			android:launchMode="2"
			android:screenOrientation="2"
			android:configChanges="0x000000A0"
			android:windowSoftInputMode="0x00000012"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
			<meta-data
				android:name="airDownloadURL"
				android:value="https://market.android.com/details?id=com.adobe.air"
				>
			</meta-data>
			<meta-data
				android:name="autoOrients"
				android:value="true"
				>
			</meta-data>
			<meta-data
				android:name="fullScreen"
				android:value="false"
				>
			</meta-data>
			<meta-data
				android:name="uniqueappversionid"
				android:value="115e3921-f8e6-4eb4-ac9c-51926cfc0dd7"
				>
			</meta-data>
			<meta-data
				android:name="initialcontent"
				android:value="RIACon.swf"
				>
			</meta-data>
		</activity>
	</application>
	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="14"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
</manifest>
